{% load custom_tags %}
{% load pages_content %}
<form id="form_round" class="form-horizontal" method="post" onsubmit="submitInput(event, {{ game_id }})">
{% csrf_token %}
<div>
<table class="table table-bordered table-striped" style="float: left">
<tr>
<th>&nbsp;</th>
<th>Koszt</th>
<th>Zysk</th>
<th>Zwrot</th>
<th>Ryzyko</th>
<th>&nbsp;</th>
<th>Wynik</th>
</tr>
{% for itr, image in available_options %}
<tr>
<td >
<button class="btn-light" onclick="updateDisplay('{{ image }}')">{{ forloop.counter0 }}</button>
</td>
<td>
{# https://stackoverflow.com/questions/1700661/how-to-access-array-elements-in-a-django-template #}
{{ itr.0 }}
</td>
<td id="expectedResults">
{{ itr.1 }}
</td>
<td>
{{ itr.1|divide:itr.0 }}
</td>
<td>
{{ itr.2 }}
</td>
<td>
<input type="checkbox"
name="project{{ forloop.counter }}isSelected" id="project{{ forloop.counter0 }}isSelected" value="{{ forloop.counter0 }}" onclick="maybeToggleProjectButtons(event)">
</td>
<td id="realResults">
{% comment %}<!--{% if results %}
{{ results|get_at_index:forloop.counter0 }}
{% else %} --- {% endif %}--> {% endcomment %}---
</td>
</tr>
{% endfor %}
</table>
<img id="displayProjectProperties" style="float: right;"/>
</div>

<input id="generate_revenue" class="btn btn-success" disabled type="submit" value="Generuj zyski!">
</form>
<!--<button id="map" onclick="show_map(event)" disabled class="btn btn-warning">Mapa</button>-->
<script>
function countToggledProjects() {
	toggled = 0;
	for (var i = 0; i < {{ available_options|length }}; ++i) {
		toggle = document.getElementById(`project${i}isSelected`);
		toggle.disabled = false;
		if (toggle.checked) {
			++toggled;
		}
	}

	return toggled;
}

function maybeToggleProjectButtons(e) {
	// Count toggled elements
	toggledProjects = countToggledProjects();
	if (toggledProjects < {{ allowed_choice_count }}) {
		// We don't need to disable anything as len(chosen_items) < MAX_CHOSEN_ITEMS
		// Disable "send" button as not enough projects are selected.
		document.getElementById('generate_revenue').disabled = true;
		return;
	}

	for (var i = 0; i < {{ available_options|length }}; ++i) {
		toggle = document.getElementById(`project${i}isSelected`);
		if (!toggle.checked) {
			toggle.disabled = true;
		}
	}
	if (toggledProjects === {{ allowed_choice_count }}) {
		document.getElementById('generate_revenue').disabled = false;
	}

}

function submitInput(e, id) {
	console.log(id);
	e.preventDefault();
}

function updateDisplay(data) {
      disp = document.getElementById("displayProjectProperties");
      disp.visibility = disp.visibility === "visible"? "hidden": "visible";
      disp.src = "data:image/png;base64, " + data

}
</script>
