{% extends 'base.html' %} {% load static %} {% block title %}Game{% endblock %}
{% block content %}

<div class="grid-container">
<div class="grid-item">
	<div id="game-main" class="app">
      <form
        id="form_game"
        class="form-horizontal"
        method="post"
        onsubmit="start_game(event)"
      >
        {% csrf_token %}
        <div class="container">
          <h1>Zarządzanie Portfelem Projektów</h1>
          <hr />
          <div class="row">
            <div class="col-centered">
              <p>Wciśnij przycisk żeby rozpocząć grę</p>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-6 col-centered">
              <span class="input-group-btn">
                <input
                  id="submit"
                  class="btn btn-danger btn-big"
                  type="submit"
                  name="submit"
                  value="S T A R T"
                />
              </span>
            </div>
          </div>
        </div>
	</form>

	</div>

	<!-- Modal content -->
	</div>
	{% endblock %} {% block script %}
	<script type="text/javascript">
	function start_game(event) {
		let request;
		console.log("called");

		if (request) {
			request.abort();
		}
		formData = $("#form_game").serialize()
		console.log(formData)
		request = $.ajax({
	headers: { "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val() },
	url: "{% url 'api-init-game' %}",
	type: "post",
	encode: true,
	data: true,
	dataType: "html"
	});
	request.done(function (response, textStatus, jqXHR) {
			$("#game-main").html(response);
			});
	request.fail(function (jqXHR, textStatus, errorThrown) {
	$("#game-main").html(errorThrown);
			});

		event.preventDefault();
	}
</script>
{% endblock %}
